:root{
  --shadow-form-color:213deg 19% 56%;
    --shadow-form-elevation-high:
      0px 0.2px 0.2px hsl(var(--shadow-form-color) / 0.34),
        0px 1.4px 1.6px -0.4px hsl(var(--shadow-form-color) / 0.34),
        0px 2.7px 3px -0.7px hsl(var(--shadow-form-color) / 0.34),
        -0.1px 4.4px 5px -1.1px hsl(var(--shadow-form-color) / 0.34),
        -0.1px 7px 7.9px -1.4px hsl(var(--shadow-form-color) / 0.34),
        -0.2px 10.9px 12.3px -1.8px hsl(var(--shadow-form-color) / 0.34),
        -0.2px 16.6px 18.7px -2.1px hsl(var(--shadow-form-color) / 0.34),
        -0.3px 24.5px 27.6px -2.5px hsl(var(--shadow-form-color) / 0.34);
}

form {
  display: grid;
  gap: 1.225rem;
  padding: 2rem 1.5rem;
  margin:0 auto;
  max-width: 36rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow:var(--shadow-form-elevation-high);
  border: 1px solid #ddd;
  justify-content: center;
}
input {
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #eee;
  border-radius: 0.225rem;
  outline: none;
}

.form-grid{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.form-rating{
    display: flex;
      gap: 4rem;
      justify-content: flex-start;
      align-items: center;
}
