:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}
  
.listItem{
  display: flex;
  margin: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-elevation-medium);
}

.listDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.movieName{
  font-size: 1.5rem;
}

.listButtons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.listButtons button{
  color: #282c34;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #282c34;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
}