:root {
  --color-primary:#5881b0;
  --color-primary-light:#D9E4F1;
  --color-primary-dark:#3D5776;
  --color-primary-darker:#2a3d54;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--color-primary);
  min-height: 10vh;
  padding: 1.5rem 5rem;
  padding-top: 2.5rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1{
  margin: 0;
  margin-bottom: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color:var(--color-primary-light)
}

@media only screen and (min-width: 35em) {
  .App-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}